<!DOCTYPE html>
<html>
<head>
	<title>Look Up Students</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<form action="/students/search" method="POST">
		<input type="text" name="name" placeholder="Name (starts with?)">
		<input type="text" name="age" placeholder="Age">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">SEARCH</button>
	</form>
</body>
</html>

<!--form -->
