<!DOCTYPE html>
<html>
<head>
	<title>Student Type Search Results </title>
</head>
<body>
<h1><strong>Look Up Results</strong></h1>
	<p>Search results by name:</p>
	<ul>
		 <% @search_name.each do |student| %>
      <li><%= student['name'] %>, <%= student['name'] %>, <%= student['campus'] %></li>
    <% end %>
	</ul>

	<p>Search results by age:</p>

	<p>Search results by campus:</p>

</body>
</html>
